* {
    padding-top: 0;
    font-size: 15px;
    font-weight: bold;
    font-family: monospace;
    margin: 0 5px;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: #fdf6e3;
}

#workspaces, #clock, #pulseaudio, #backlight, #memory, #cpu, #temperature, #battery, #tray, #network, #idle_inhibitor,  #custom-spotify, #custom-storage{
    background: #1a1a1a;
    border-radius: 20px;
}

#workspaces button {
    padding: 0 2px;
    padding-top: 4px;
    border: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: #e8e8e8;
}
#workspaces button.focused {
    color: #268bd2;
    border: none;
    padding: 0 2px;
    padding-top: 4px;
}
#workspaces button:hover {
    color: #859900;
    padding: 0 2px;
    padding-top: 4px;
    border: none;
    box-shadow: inherit;
    text-shadow: inherit;
    background: #1a1a1a;
}

#pulseaudio {
    color: #268bd2;
}
#backlight {
    color: #b58900
}
#memory {
    color: #2aa198;
}
#temperature {
    color: #b58900
}
#cpu {
    color: #6c71c4;
}
#battery {
    color: #859900;
}

#idle_inhibitor {
    color: #6c71c4;
}

#network {
    color: #859900;
}

#custom-spotify {
    color: #859900;
}

#custom-storage {
    color: #268bd2;
}


#custom-storage.warning {
    color: #f9ea0e;
}

#custom-storage.critical {
    color: #ed2f09;
}

#clock {
    color: #e8e8e8;
}

#clock, #pulseaudio, #backlight, #memory, #cpu, #temperature, #battery, #network, #idle_inhibitor, #custom-spotify, #custom-storage, #workspaces {
    padding: 0 10px;
    margin: 0 5px;
}
